
@{
    ViewData["Title"] = "Calculator";
}
<div class="container text-center" id="calc">
    <div class="calcBG col-md-3 col-md-offset-4 text-center">
        <div class="row">
            <small>Calculator</small>
        </div>
        <div class="row" id="result">
            <form name="calc">
                <input type="text" class="screen text-right" name="result" readonly>
            </form>
        </div>
        <div class="row">
            <button id="blank" type="button" class="btn btn-info">&nbsp;</button>
            <button id="blank" type="button" class="btn btn-info">&nbsp;</button>
            <button id="blank" type="button" class="btn btn-info">&nbsp;</button>
            <button id="allClear" type="button" class="btn btn-danger" onclick="clearScreen()">AC</button>
        </div>
        <div class="row">
            <button id="7" type="button" class="btn btn-info" onclick="buttonPressed(this.id)">7</button>
            <button id="8" type="button" class="btn btn-info" onclick="buttonPressed(this.id)">8</button>
            <button id="9" type="button" class="btn btn-info" onclick="buttonPressed(this.id)">9</button>
            <button id="*" type="button" class="btn btn-info" onclick="buttonPressed(this.id)">x</button>
        </div>
        <div class="row">
            <button id="4" type="button" class="btn btn-info" onclick="buttonPressed(this.id)">4</button>
            <button id="5" type="button" class="btn btn-info" onclick="buttonPressed(this.id)">5</button>
            <button id="6" type="button" class="btn btn-info" onclick="buttonPressed(this.id)">6</button>
            <button id="-" type="button" class="btn btn-info" onclick="buttonPressed(this.id)">-</button>
        </div>
        <div class="row">
            <button id="1" type="button" class="btn btn-info" onclick="buttonPressed(this.id)">1</button>
            <button id="2" type="button" class="btn btn-info" onclick="buttonPressed(this.id)">2</button>
            <button id="3" type="button" class="btn btn-info" onclick="buttonPressed(this.id)">3</button>
            <button id="+" type="button" class="btn btn-info" onclick="buttonPressed(this.id)">+</button>
        </div>
        <div class="row">
            <button id="0" type="button" class="btn btn-info" onclick="buttonPressed(this.id)">0</button>
            <button id="." type="button" class="btn btn-info" onclick="buttonPressed(this.id)">.</button>
            <button id="equals" type="button" class="btn btn-success" onclick="calculate()">=</button>
            <button id="/" type="button" class="btn btn-info" onclick="buttonPressed(this.id)">÷</button>
        </div>
    </div>
</div>

@section IndividualScripts{
    <script type="text/javascript">

        // определение путя к экшену вставки таким образом позволит корректно вызывать ее с разных URL:
        // localhost:56281 (стартовая страница) и localhost:56281/Calculator/Index
        var ajaxUrl = '@Url.Action("InsertDb", "Calculator")';
    </script>
    <script type="text/javascript" src="~/js/calculator.js"></script>
}

@section IndividualStyles{
    <link rel="stylesheet" href="~/css/calculator.css" />
}

