@model List<Calculator.Model.OperationResult>
@{
    ViewData["Title"] = "Results";
}
<h2>Results</h2>

    <table class="table-hover">
        <tr>
            <td><b>Date</b></td>
            <td><b>Expression</b></td>
            <td><b>Result</b></td>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr> 
                <td width="250px"><script type="text/javascript">document.write(timeUtcToLocal('@Model[i].Time'))</script></td >
                <td width="250px">@Model[i].Operation</td>
                <td width="250px">@Model[i].Result</td>
            </tr>
        }
    </table>

@section HtmlRuntimeScripts{
    <script type="text/javascript" src="~/lib/moment/moment.js"></script>
    <script type="text/javascript">
        function timeUtcToLocal(datetime) {
            var utcTime = moment.utc(datetime);
            var localTime = utcTime.local();
            return localTime.format("DD-MM-YYYY HH:mm:ss");
        }
    </script>
}

